/* general styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #191919;
  --sec-color: #f90c2a;
  --white: white;
  --black: black;
  --grey: grey;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sec-color);
  border-radius: 2em;
}

::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

/* start pre loader */

.pre-loader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-out;
}

.pre-loader .spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid var(--sec-color);
  border-bottom: none;
  border-left: none;
  animation: spinner 0.5s linear infinite;
}

.pre-loader.finished {
  opacity: 0;
  pointer-events: none;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end pre loader */

/* start go up button */

.go-up-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--white);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 200ms ease-in;
}

.go-up-btn.show {
  opacity: 1;
  pointer-events: all;
}

/* end go up button */

/* start animated elements */

.animate {
  opacity: 0;
  transform: translateY(20px);
  filter: blur(1px);
  transition: all 300ms ease-in;
}

.animate.show-animation {
  opacity: 1;
  transform: translateY(0px);
  filter: blur(0);
}

.fancy-text button {
  transition-delay: 300ms;
}

.section-title p {
  transition-delay: 300ms;
}

.about-me-accordion.animate {
  transition-delay: 400ms;
}

.gallery-grid .project-box:nth-child(1) {
  transition-delay: 400ms;
}
.gallery-grid .project-box:nth-child(2) {
  transition-delay: 500ms;
}
.gallery-grid .project-box:nth-child(3) {
  transition-delay: 600ms;
}
.gallery-grid .project-box:nth-child(4) {
  transition-delay: 400ms;
}
.gallery-grid .project-box:nth-child(5) {
  transition-delay: 500ms;
}
.gallery-grid .project-box:nth-child(6) {
  transition-delay: 600ms;
}
.gallery-grid .project-box:nth-child(7) {
  transition-delay: 400ms;
}
.gallery-grid .project-box:nth-child(8) {
  transition-delay: 500ms;
}
.gallery-grid .project-box:nth-child(9) {
  transition-delay: 600ms;
}

.contact-content {
  transition-delay: 400ms;
}

/* end animated elements */

/* start nav bar */

.nav-bar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  color: var(--white);
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  transition: all 200ms ease-in;
  z-index: 900;
}

.nav-bar.scrolling {
  padding: 1rem 4rem;
  background-color: var(--main-color);
}

.burger-menu {
  cursor: pointer;
  font-size: 2rem;
  display: none;
}

.nav-bar .nav-links,
.nav-bar .social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-bar .nav-links li,
.nav-bar .social-links li {
  margin: 0px 16px;
}

.nav-bar .nav-links a,
.nav-bar .social-links a {
  text-decoration: none;
  color: inherit;
  transition: all 350ms ease-in;
  letter-spacing: 2px;
}

.nav-bar .nav-links a:hover,
.nav-bar .social-links a:hover {
  color: var(--sec-color);
}

.nav-bar .nav-links li {
  padding-bottom: 8px;
}

.nav-bar .nav-links li a {
  position: relative;
}

.nav-bar .nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  background-color: var(--sec-color);
  width: 0%;
  height: 2px;
  transition: width 150ms ease-in;
}

.nav-bar .nav-links li a.active {
  color: var(--sec-color);
}

.nav-bar .nav-links li a.active::after,
.nav-bar .nav-links a:hover::after {
  width: 100%;
}

.nav-links-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 60%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: all 350ms ease-in-out;
}

.nav-links-pop-up i {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--main-color);
  padding: 10px;
}

.nav-links-pop-up ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.nav-links-pop-up ul li {
  margin: 10px;
}

.nav-links-pop-up ul li a {
  color: var(--sec-color);
}

.nav-links-pop-up.active {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 900px) {
  .nav-bar .nav-links {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}

/* end nav bar */

/* start header */

header {
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

header .my-pic {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .my-pic img {
  width: 60%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px #ff0020ad;
}

header .fancy-text {
  flex: 1;
  font-weight: bold;
  font-style: italic;
  font-size: 2.4rem;
}

header .fancy-text h1 {
  text-shadow: 3px 3px 3px var(--sec-color);
}

header .fancy-text span {
  color: var(--sec-color);
  text-shadow: 3px 3px 3px var(--white);
}

header .fancy-text button {
  margin-top: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--sec-color);
  color: var(--white);
  font-size: 1rem;
  position: relative;
  border: none;
  overflow: hidden;
  font-weight: bold;
  padding: 10px;
  transition: transform 250ms ease-in !important;
}

header .fancy-text button.animate {
  transition: color 0s ease-in;
}

header .fancy-text button:hover {
  color: var(--sec-color);
  transform: translateY(-2px);
}

header .fancy-text button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  background-color: var(--white);
  z-index: -1;
  transition: width 250ms ease;
}

header .fancy-text button:hover:before {
  width: 100%;
}

header .fancy-text button a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

@media (max-width: 1230px) {
  header {
    flex-direction: column;
  }
  header .my-pic {
    order: 1;
    padding: 2rem 0;
  }
  header .my-pic img {
    width: 100%;
  }
  header .fancy-text {
    order: 2;
    padding-bottom: 2rem;
    font-size: 2rem;
  }
}

/* end header */

/* start about me */

.about-me {
  color: var(--white);
  padding: 4rem 8rem;
  background-color: var(--main-color);
}

.about-me .section-title {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.about-me .section-title h2 {
  font-size: 3rem;
}

.about-me .section-title p {
  margin: 4rem;
  color: var(--grey);
}

.about-me .about-me-accordion {
  display: flex;
  justify-content: space-between;
}

.about-me .about-me-accordion .side-tabs {
  flex: 1;
}

.about-me .about-me-accordion .side-tabs ul {
  list-style: none;
  font-size: 1.2rem;
}

.about-me .about-me-accordion .side-tabs ul li {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  transition: color 250ms ease-in;
}

.about-me .about-me-accordion .side-tabs ul li:hover {
  color: var(--sec-color);
}

.about-me .about-me-accordion .side-tabs ul li.active {
  color: var(--sec-color);
}

.about-me .about-me-accordion .side-tabs ul li::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--sec-color);
}

.about-me .about-me-accordion .tabs-content {
  flex: 5;
  color: var(--white);
}

.about-me .about-me-accordion .tabs-content div {
  display: none;
}

.about-me .about-me-accordion .tabs-content div.active {
  display: block;
}

.about-me .about-me-accordion .tabs-content div ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.about-me .about-me-accordion .tabs-content div ul li {
  font-size: 1.4em;
}

.about-me .about-me-accordion .tabs-content div ul li span {
  font-size: 1.6em;
  opacity: 0.2;
  margin: 5px;
}

.about-me .about-me-accordion .tabs-content div ul p {
  color: var(--grey);
}

.about-me .about-me-accordion .tabs-content div ul p span {
  font-size: 1.6em;
  opacity: 0.1;
  margin: 5px;
  color: white;
}

/* end about me */

/* start latest projects */

.latest-projects {
  color: var(--white);
  padding: 4rem 8rem;
}

.latest-projects .section-title {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.latest-projects .section-title h2 {
  font-size: 3rem;
}

.latest-projects .section-title p {
  margin: 4rem;
  color: var(--grey);
}

.latest-projects .section-title a {
  color: var(--sec-color);
}

.latest-projects .gallery-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.latest-projects .gallery-grid .project-box {
  background-color: yellow;
  flex-basis: 340px;
  height: 340px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.latest-projects .gallery-grid .project-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 350ms ease-in;
}

.latest-projects .gallery-grid .project-box:hover img {
  transform: scale(1.2);
}

.latest-projects .gallery-grid .project-box .project-overlay {
  position: absolute;
  inset: 0;
  background-color: #f90c2c4b;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.latest-projects
  .gallery-grid
  .project-box
  .project-overlay
  button:nth-child(2) {
  margin-left: 20px;
}

.latest-projects .gallery-grid .project-box .project-overlay button {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 20px;
  border: 1px solid var(--white);
  transition: all 200ms ease-in;
}

.latest-projects .gallery-grid .project-box .project-overlay button:hover {
  background-color: var(--sec-color);
}

.latest-projects .gallery-grid .project-box .project-overlay button a {
  text-decoration: none;
  color: inherit;
}

.latest-projects .gallery-grid .project-box:hover .project-overlay {
  opacity: 1;
  pointer-events: all;
}

/* end latest projects */

/* start contact */
.contact {
  color: var(--white);
  padding: 4rem 8rem;
  background-color: var(--main-color);
}

.contact .section-title {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.contact .section-title h2 {
  font-size: 3rem;
}

.contact .section-title p {
  margin: 4rem;
  color: var(--grey);
}

.contact .contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .contact-content .contact-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact .contact-content .contact-form input {
  padding: 16px 16px 16px 0px;
  min-width: 600px;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  color: var(--white);
  border: none;
  border-bottom: 2px solid var(--grey);
}

.contact .contact-content .contact-form textarea {
  max-height: 200px;
  padding: 16px 16px 16px 0px;
  outline: none;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--grey);
  color: var(--white);
  resize: none;
}

.contact .contact-content .contact-form button {
  padding: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--sec-color);
  color: var(--white);
  font-size: 1rem;
  border: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  transition: transform 350ms ease-in !important;
}

.contact .contact-content .contact-form button:hover {
  color: var(--sec-color);
  transform: translateY(-2px);
}

.contact .contact-content .contact-form button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  height: 100%;
  background-color: var(--white);
  z-index: -1;
  transition: width 250ms ease;
}

.contact .contact-content .contact-form button:hover:before {
  width: 100%;
}

.contact .contact-content .contact-form span {
  display: none;
}

.contact .contact-content .contact-form span#success.active {
  display: block;
  color: #08b208;
}

.contact .contact-content .contact-form span#error.active {
  display: block;
  color: var(--sec-color);
}

.contact .contact-content .map iframe {
  border-radius: 5px;
}

/* end contact */

/* start footer */

footer {
  color: var(--white);
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer .contact-links {
  list-style: none;
  display: flex;
}

footer .contact-links li {
  margin: 10px;
  font-size: 2rem;
  transition: all 250ms ease-in;
}

footer .contact-links li:hover {
  transform: translateY(-10px);
}

footer .contact-links li a {
  text-decoration: none;
  color: white;
}

footer span {
  color: var(--grey);
}

/* end footer */
